<div class="footer">
  {% comment %}
    {% if page.has_comments %}
    <div class="contributions">
      {% include disqus.html %}
    </div>
    {% endif %}
  {% endcomment %}

  <div class="bottom">
    <div class="container">
      <span class="copy">
          ro.alexn.org &copy; {{ site.time | date: '%Y' }}
      </span>
      <span class="links">
        <a href="/politica-confidentialitate/">Politică de confidențialitate</a> |
        <a href="/despre/#contact">Contact</a>
      </span>
    </div>
  </div>
</div><!-- end .footer -->

