{% unless include.skip_header %}
<h2 id="alatura-te-hai-in-grup">Alătură-te, hai în grup</h2>
{% endunless %}

<p>
  E mai ușor în grup, învățăm unii de la alții, hai pe Facebook:
</p>

<ul>
  <li>
    <i>Post Intermitent, Alternativ și Extins (Fasting, România)</i>:<br>
    <a href="https://www.facebook.com/groups/FastingRomania/" target="_blank">
      facebook.com/groups/FastingRomania
    </a>
  </li>
</ul>

<p>
  Deasemenea <a href="{{ site.baseurl }}/abonament/">abonează-te la acest blog</a>.
</p>
