<!DOCTYPE html>
<html class="no-js">

{% include head.html %}

<body>

   {% include header.html %}

   <div class="content">
      <div class="container">
         {{ content | fix_images }}
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}

   {% unless page.skip_mailchimp %}
   <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"6c8297e886b517d8535e8410e","lid":"a3391a44b0","uniqueMethods":true}) })</script>
   {% endunless %}
</body>

</html>
